<div>
	<a href="/new">Add a Task</a>
</div>

<div>
	<ul>
		Incomplete
		<% @incomplete_tasks.each do |t| %>

			<li><%= t[2] %></li>
		<form action="/delete">
			<input type="hidden" name="num" value="<%= t[3][0..8] %>">
			<input type="submit" value="Delete">
		</form>
		<form action="/edit">
			<input type="hidden" name="num" value="<%= t[3][0..8] %>">
			<input type="hidden" name="person" value="<%= t[1] %>">
			<input type="hidden" name="status" value="<%= t[0] %>">
			<input type="hidden" name="task" value="<%= t[2] %>">
			<input type="submit" value="Edit">
		</form>
		<% end %>
	</ul>

	<ul>
		Complete
		<% @complete_tasks.each do |t| %>

			<li><%= t[2] %></li>
		<% end %>
	</ul>
</div>